/* Changed the font */

body {
    font-family: Georgia, sans-serif;
    font-size: 18px;
}

/* Changed background color */

h1, footer {
    background-color:#ff0000;
}

/* Added text colou */

.site-title {
    color:blueviolet;
}

/* Formatting my image */

#my-image {
    box-shadow: 0px 0px 2px 1px black;
}

/* Changed the Bullets to Squares */

.my-list {
    list-style-type: square;
}

/* nth child list */

section ul li:nth-child(odd){
    background-color:green;
}

/* Formatting Navigation */

a:link {
    text-decoration: none;
    background-color: goldenrod;
    border-style:double;
}

/* Adding hover */

a:hover {
    background-color:aquamarine;
}