/* Changed the font */

body {
    font-family: Georgia, sans-serif;
    font-size: 18px;
}

/*Changed background color*/

h1, footer {
    background-color:#ff0000;
}

/*Added text colour*/

.site-title {
    color:blueviolet;
}