.container {
    position: relative;
}

img {
    height: auto;
    width: 100%;
}

.site-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: white;
}